@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .label {
        @apply block py-1 px-1 font-medium w-full;
    }

    .input {
        @apply shadow-lg w-full;
    }

    .input-error {
        @apply text-sm text-red-600;
    }

    .dropdown {
        @apply rounded-lg text-gray-500;
    }
}

#nprogress .bar {
    height: 20px;
}

#nprogress .spinner {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    right: 50%;
    transform: translate(-50%, -50%) !important;
    z-index: 1031;
}

#nprogress .spinner-icon {
    width: 60px !important; /* Increase as needed */
    height: 60px !important; /* Increase as needed */
    border-width: 8px !important; /* Optional: make the ring thicker */
}
