[mysqld]
bind-address = 0.0.0.0
max_connections = 100
default-storage-engine = InnoDB
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION"
innodb_file_per_table = 1
innodb_buffer_pool_size = 256M
max_allowed_packet = 16M
query_cache_size = 0
skip-name-resolve = 1